ul:has(.related-card) {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.related-card {
  width: 500px;
  background-color: #fcfcfc;
  padding: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.Skills-rate {
  display: flex;
  justify-content: space-between;
}
.Job-title {
  text-decoration: underline;
}
.Job-link {
  text-decoration: none !important;
  color: black !important;
}
.RelatedJobs{
    background-color: #d9d9d9;
    margin-top: 30px;
    padding: 20px 50px;
    height:fit-content;
}
