.job-card {
  flex: 1 1 calc(50% - 10px);
  background-color: #ffffff;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 20px 20px;
  margin-right: 30px;
}
.relatedskills {
  color: #000000;
}
.job-card a {
  color: #000000;
}

.job-card ul {
  list-style: none;
  display: grid;

  grid-template-columns:  repeat(3  , auto) ;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style-position: inside;
  margin-bottom: 10px;
}
.job-card ul li {
  padding: 5px;
  background-color:#C4C4C4;
  border-radius: 10px;
  color: #000000;
}
@media (max-width: 500px) {
  .job-card {
    margin-right: 0px;
  }
  .job-card ul {
    grid-template-columns: 1fr;
  }
}
