.job-card {
  background-color: #ffffff;
  padding: 20px 20px;
  width: 40%;
  display: flex;
  flex-direction: column;
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.1);
}
.relatedskills {
  color: #000000;
}
.job-card a {
  color: #000000;
}

.job-card ul {
  list-style: none;
  display: grid;

  grid-template-columns:  repeat(3  , auto) ;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style-position: inside;
  margin-bottom: 10px;
}
.job-card ul li {
  padding: 5px;
  background-color:#C4C4C4;
  border-radius: 10px;
  color: #000000;
}
@media (max-width: 500px) {
  .job-card {
    margin-right: 0px;
  }
  .job-card ul {
    grid-template-columns: 1fr;
  }
}
